body {
    background-image:url("../images/Background0.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    
}
.fixedtextbox{
    resize:none;
}
.subtitulo{
    text-align:center;
}
.center{
    width: 50%;
    margin:auto;

}
