body {
    background-image:url("../images/Background3.jpg");
    background-repeat:no-repeat;
    background-size: 100%, 100%;
    font-family:jost;
 

    
}
.fixedtextbox{
    resize:none;
    font-family:Arial;
}
.subtitulo{
    text-align:center;
}
.center{
    width: 50%;
    margin:auto;
    

}
.text1{
    font-size: 27px;

}
.titulo{
    
    text-align:center;
    font-size: 50px;
}
.contactbutton{

    
    height: 54px;
    width: 75px;
}
.buttonbox{
 text-align:center;
 font-size:60px;
}
@font-face {
    font-family: robotolight;
    src: url("../css/Fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: jost;
    src: url("../css/Fonts/Jost-Medium.ttf");
}
